.top-feed {
    margin-top: 20px;
    width: 65%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-feed h2 {
    margin-top: 0;
}