.hero {
    width: 100%;
    min-height: 90vh;
    background-image: url(../../assets/hero-img.jpeg);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: ". btns"
    ". image"
    "txt image"
    ". image";
}

.landing-btns {
    grid-area: btns;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}

.hero button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    font-size: 12pt;
    padding: 15px;
    margin: 20px 10px 20px 10px;
    cursor: pointer;
}

.hero-content {
    grid-area: txt;
    max-width: 40vw;
    justify-self: flex-end;
}

.hero-content img {
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.slogan {
    color: white;
    text-align: center;
    font-size: 8pt;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.divider {
    color: #ffc000;
    font-size: 40pt;
    font-weight: 200;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -20px;
    letter-spacing: -12px;
}

.hero-content h1 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 32pt;
}

.app-example, .app-example img {
    grid-area: image;
    max-width: 40vw;
    justify-self: flex-start;
    overflow-y: hidden;
}

.landing-search {
    width: 100%;
    border-bottom: 1px solid gray;
}

.search-input-landing {
    width: 100%;
    height: 70px;
    font-size: 16pt;
    padding-left: 40px;
    border: 0;
}

.features-header {
    text-align: center;
    margin-top: 5vh;
    font-size: 30pt;
    margin-bottom: 10px;
}

.features {
    width: 100%;
    min-height: 32vh;
    margin: 0 auto;
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.feature {
    width: 20%;
}

.feature-title {
    font-size: 16pt;
}

.landing-footer {
    height: 100px;
    background-color: black;
    color: white;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-footer button {
    font-size: 12pt;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 50px;
}

.results-hide {
    display: none;
}

.results {
    z-index: 9;
    position: absolute;
    width: 100%;
    margin-top: 1px;
    right: 0;
    border-top: 1px solid gray;
    border-bottom: 3px solid gray;
    background-color: white;
    max-height: 20vh;
    overflow-y: scroll;
    padding-bottom: 8px;
}

.nav-search > .results {
    margin-top: 25px;
}

.result {
    padding-left: 20px;
    padding-top: 8px;
    font-size: 10pt
}

.result a {
    text-decoration: none;
    font-weight: 600;
}