.friends-all-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 20px 40px;
}

.friends-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.friend-info {
  display: flex;
  align-items: center;
  margin: 5px;
}

.friend-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-details {
  display: flex;
  flex-direction: column;
}

.friend-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.friend-username {
  font-size: 0.9rem;
  color: #888;
}

.friends-list {
  list-style: none;
  padding-left: 5px;
}

.friends-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.friends-list li:last-child {
  border-bottom: none;
}

.friends-list li button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-right: 5px;
}

.friends-list li button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.friends-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.friends-stats {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}

.friends-topdrinks {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}
