/* Navigation */

.navbar-container {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 6px 0 #ffc000;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1080px; */
  width: 95%;
}

.nav-logo {
  max-height: 40px;
}

.navbar-inner-container {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-inner-links {
  display: flex;
  gap: 20px;
  margin-left: 40px;
  flex-shrink: 0;
}

.navbar-inner-profile-search {
  display: flex;
  align-items: center;
}

.search-input-nav {
  width: 100%;
  font-size: 14px;
  border: 0;
  outline: none;
}

/* Profile button */

.profile-button {
  position: relative;
  /* margin-right: 150px; */
  margin-right: 20px;
}

.profile-button button {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
}

.profile-button button img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none;
  background-color: #575757;
  white-space: nowrap;
  padding: 0px;
  top: 60%;
  right: 0;
}

.profile-dropdown-menu li {
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  text-align: left;
  font-size: 14px;
}

.profile-dropdown-menu li a {
  color: white;
}

.profile-dropdown-menu li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

/* Login/Signup - LoggedOut */
.navbar-inner-login-signup {
  display: flex;
  gap: 30px;
  align-items: center;
  flex: 0 0 auto;
}

.navbar-inner-login-signup a {
  font-weight: bold;
}

.navbar-inner-signup {
  color: white;
  background-color: #00599c;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.navbar-inner-signup:hover {
  background-color: #0b5b99ef;
  color: rgba(255, 255, 255, 0.8);
}