.DrinkTile {
    margin: 15px 0px;
}

.DrinkTile div{
    margin: 5px;
}

.drinkDetails {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 15px;
    color: #595959
}

.drinkDetails > div {
    padding: 10px;
}

.leftBorder{
    border-left: 1px solid lightgrey;
}

.allDrinks{
    margin: 15px 15px;

}
.drinkDetailPage{
    margin: 15px 15px;

}

.drinkImg img {
    height: 120px;
    width: 120px;
}

.drinkInfo {
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}
.drinkImg{
    display: inline-block;
    vertical-align: top;
}
.drinkName {
    font-size: 20px;
}
