.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/hero-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form-container {
  background-color: rgba(255, 255, 255);
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-form-logo-slogan {
  margin: auto;
}

.signup-form-logo-slogan a {
  text-decoration: none;
  color: black;
}

.signup-form-logo-slogan a:hover {
  /* global style has hover color */
  color: black;
}

.signup-form-logo-slogan img {
  width: 300px;
}

.signup-form-logo-slogan p {
  margin: 0px;
  margin-top: -10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
}

.signup-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-required-text {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.signup-form-password-text {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  margin: 12px 0px 4px 0px;
}

.signup-form-input-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.signup-form-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 4px;
  flex-basis: 46%;
  box-sizing: border-box;
  padding: 0 2px;
}

.signup-form-input-container i {
  margin: 0px 8px;
}

.signup-form-input-container input {
  border: none;
  border-left: 1px solid #cccccc;
  padding: 0px 8px;
  font-size: 16px;
  margin: 6px 0px;
  width: 100%;
}

.signup-form-input-container input:focus {
  outline: none;
}

.signup-form-input-group-names {
  display: flex;
  flex-wrap: wrap;
}

.signup-form-input-container-name input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
  margin: 6px 0px;
}

.signup-form-container button {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.signup-form-container button.signup-button {
  margin: 10px 0;
}

.signup-form-login {
  border-top: 1px solid #dddddd;
  font-weight: bold;
  padding-top: 10px;
  margin-top: 8px;
  font-size: 20px;
}

.signup-form-login a {
  color: #8a4500;
  cursor: pointer;
  text-decoration: none;
}

.signup-form-login a:hover {
  text-decoration: underline;
}
