.about-container{
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.about {
    display: flex;
    justify-content: space-between;
}
.about-container h2 {
    margin-top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 20px;
}
.links {
    margin: 10px 0;
    display: inline-flex;
}
.linkedin-git-links {
    width: 150px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.about-us-names {
    font-size: 14pt;
    text-align: center;
}
.linkedin-img img {
    width: 250px;
    height: 250px;
    padding: 10px;
}
.linkedin-img {
    text-align: center;
}
